{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
             background-image: url("{% static 'img/001.jpeg' %}");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

</head>
<body class=" w-screen ">
 

    <div class="flex w-full items-center justify-center content-center h-screen space-x-10 ">
    <div class="flex  flex-col">
       
      <div class="flex w-full items-center justify-center content-center h-screen space-x-10">
    <div class="flex flex-col">
        <form method="post" enctype="multipart/form-data" class="rounded-3xl flex flex-col w-[30rem] text-center space-y-2 border-2 border-gray-200 p-2 " onsubmit="return validateForm()">
            {% csrf_token %}
            {% if msg %}
                <div class="error bg-red-500 text-white px-4 py-2 rounded" id="errorMsg">{{ msg }}</div>
            {% endif %}
            <div>
                <label for="firstname" class="block text-gray-200">First Name:</label>
                <input class="text-black border border-gray-300 rounded-md py-2 px-4 block w-full" type="text" name="firstname" id="firstname" placeholder="Enter your first name" required>
            </div>
            <div>
                <label for="lastname" class="block text-gray-200">Last Name:</label>
                <input class="text-black border border-gray-300 rounded-md py-2 px-4 block w-full" type="text" name="lastname" id="lastname" placeholder="Enter your last name" required>
            </div>
            <div>
                <label for="username" class="block text-gray-200">Username:</label>
                <input class="text-black border border-gray-300 rounded-md py-2 px-4 block w-full" type="text" name="username" id="username" placeholder="Enter your username" required>
            </div>
            <div>
                <label for="email" class="block text-gray-200">Email:</label>
                <input class="text-black border border-gray-300 rounded-md py-2 px-4 block w-full" type="email" name="email" id="email" placeholder="Enter your email" required>
            </div>
            <div>
                <label for="dob" class="block text-gray-200">Date of Birth:</label>
                <input class="text-black border border-gray-300 rounded-md py-2 px-4 block w-full" type="date" name="dob" id="dob" required>
            </div>
            <div>
                <label for="designation" class="block text-gray-200">Designation:</label>
                <input class="text-black border border-gray-300 rounded-md py-2 px-4 block w-full" type="text" name="designation" id="designation" placeholder="Enter your designation" required>
            </div>
            <div>
                <label for="department" class="block text-gray-200">Department:</label>
                <select class="text-black border border-gray-300 rounded-md py-2 px-4 block w-full" name="department" id="department" required>
                    <option value="">Select Department</option>
                    {% for department in departments %}
                        <option value="{{department.id}}">{{department.department_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="pnum" class="block text-gray-200">Phone Number:</label>
                <input class="text-black border border-gray-300 rounded-md py-2 px-4 block w-full" type="tel" name="pnum" id="pnum" placeholder="Enter your phone number" required>
            </div>
            <div>
                <label for="pass" class="block text-gray-200">Password:</label>
                <div class="relative">
                    <input class="flex text-center text-black border border-gray-300 rounded-md py-2 px-4 block w-full pr-12" type="password" id="pass" name="pass" placeholder="Enter your password" required>
                    <button class="absolute inset-y-0 right-0 flex items-center px-4 text-gray-300 bg-gray-600 border border-gray-300 rounded-l-none rounded-md" onclick="togglePasswordVisibility()" type="button" id="togglePassVisibility">
                        Show Pass
                    </button>
                </div>
            </div>
            <div>
                <label for="pass2" class="block text-gray-200">Confirm Password:</label>
                <input class="flex text-center text-black border border-gray-300 rounded-md py-2 px-4 block w-full" type="password" id="pass2" name="pass2" placeholder="Confirm your password" required>
            </div>
            <div>
                <label for="profile" class="block text-gray-200">Profile Picture:</label>
                <input class="text-white border border-gray-300 rounded-md py-2 px-4 block w-full" type="file" name="profile" id="profile" required>
            </div>
            <div>
                <input class="bg-green-500 rounded-3xl flex text-center justify-center content-center items-center py-2 px-4 block w-full text-black mt-5" type="submit" value="Submit">
            </div>
            <div>
                <a href="{% url 'HodDash' %}" class="bg-gray-500 rounded-3xl flex text-center justify-center content-center items-center py-2 px-4 block w-full text-black mt-5">Back</a>
            </div>
        </form>
    </div>
    <div class="w-1/2">
        <div id="alertMsg" class="h-[10rem] hidden rounded-3xl w-full mb-10 bg-green-500 text-white text-center flex items-center justify-center">
            User added successfully!
        </div>
        <img class="" src="{% static "img/college.jpeg" %}">
    </div>
</div>

<script>
    // Function to toggle password visibility
    function togglePasswordVisibility() {
        var passField = document.getElementById("pass");
        var pass2Field = document.getElementById("pass2");
        var toggleButton = document.getElementById("togglePassVisibility");

        if (passField.type === "password") {
            passField.type = "text";
            pass2Field.type = "text";
            toggleButton.textContent = "Hide Password";
        } else {
            passField.type = "password";
            pass2Field.type = "password";
            toggleButton.textContent = "Show Password";
        }
    }

    // Function to validate form
    function validateForm() {
        var firstname = document.getElementById('firstname').value;
        var lastname = document.getElementById('lastname').value;
        var username = document.getElementById('username').value;
        var email = document.getElementById('email').value;
        var dob = document.getElementById('dob').value;
        var designation = document.getElementById('designation').value;
        var department = document.getElementById('department').value;
        var pnum = document.getElementById('pnum').value;
        var pass = document.getElementById('pass').value;
        var pass2 = document.getElementById('pass2').value;
        var profile = document.getElementById('profile').value;

        // Perform validation
        if (firstname === '' || lastname === '' || username === '' || email === '' || dob === '' || designation === '' || department === '' || pnum === '' || pass === '' || pass2 === '' || profile === '') {
            alert('Please fill in all fields');
            return false;
        }

        // Password validation
        if (pass !== pass2) {
            alert('Passwords do not match');
            return false;
        }

        // Check password strength (at least 8 characters including uppercase, lowercase, and digits)
        var strongRegex = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.{8,})");
        if (!strongRegex.test(pass)) {
            alert('Password must be at least 8 characters long and include at least one uppercase letter, one lowercase letter, and one digit');
            return false;
        }

        // Check phone number length
        if (pnum.length < 10) {
            alert('Phone number must be at least 10 digits long');
            return false;
        }
        
        // If all validations pass, return true to submit the form
        return true;
    }

    function displayAlertMsg() {
        var alertDiv = document.getElementById('alertMsg');
        alertDiv.classList.remove('hidden');
        setTimeout(function() {
            alertDiv.classList.add('hidden');
        }, 3000); // Hide the message after 3 seconds (3000 milliseconds)
    }

    // Check for success message in the URL query parameters
    var urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has('success')) {
        // Display the alert message if success parameter is present
        displayAlertMsg();
    }
</script>

</body>
</html>