{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hod</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            color: black;
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }
        /* Import Constantia font */
        @font-face {
           font-family: 'Constantia';
           src: url('{% static 'F:\MajorProject\project\app\static\fonts\Constantia\Constantia.woff' %}') format('woff'); /* Adjust the path and format as needed */
           font-weight: normal;
           font-style: normal;
       }

       .content {
           position: relative;
           z-index: 1; /* Ensure content is above the blurred background */
       }

       /* width */
       ::-webkit-scrollbar {
       width: 5px;
       height: 5px;
       }

       /* Track */
       ::-webkit-scrollbar-track {
       background: #575757;
       width: 10px;
       }

       /* Handle */
       ::-webkit-scrollbar-thumb {
       background: #3b3b3b;
       width: 10px;
       }

       /* Handle on hover */
       ::-webkit-scrollbar-thumb:hover {
       background: #555;
       }
   </style>
</head>
<body>
    <div class="navbar flex justify-between mx-5 mt-5">
        <div>
            <p class="text-white font-2xl font-bold ">CSMS</p>
        </div>
        <div>
            <ul class="flex gap-5 ">
                <a href="{% url 'logout' %}"><li class="hover:text-red-300 transition ease-in duration-200 ">logout</li></a>
                <a href="{% url 'HodAddFaculty' %}"><li class="hover:text-red-300 transition ease-in duration-200 ">Add Faculty</li></a>
                <a href="{% url 'home' %}"><li class="hover:text-red-300 transition ease-in duration-200 ">HOME</li></a>
                {% comment %} <a href="{% url 'services' %}"><li class="hover:text-red-300 transition ease-in duration-200 ">SERVICES</li></a>
                <a href="{% url 'about' %}"><li class="hover:text-red-300 transition ease-in duration-200 ">ABOUT</li></a>
                <a href="{% url 'testimonials' %}"><li class="hover:text-red-300 transition ease-in duration-200 ">TESTIMONIALS</li></a>
                <a href="{% url 'contact' %}"><li class="hover:text-red-300 transition ease-in duration-200 ">CONTACT</li></a>
            </ul> {% endcomment %}
        </div>
    </div>

    <div class="profile flex space-x-5 items-center mx-5 mt-5">
            <img class="rounded-full w-[4rem] h-[4rem] border-red-500 border-2 " src="{{hod.Hod_Profile.url}}" alt="profile" >
            
            <div >
                <p>Name : {{hod.user.first_name}}</p>
                <p>Designation : {{hod.Hod_Designation}}</p>
                {% comment %} <p>Date Of Join : {{hod.Hod_Doj}}</p> {% endcomment %}
            </div>
    </div>

    <div class="navs mx-5 mt-10 flex space-x-[4.3rem]">
        <ul class="flex flex-col space-y-5">
            <a href="{% url 'HodDash' %}"><li class="border-2 w-[7rem] text-center hover:bg-gray-300 transition ease-in duration-200">Dashboard</li></a>
            {% comment %} <a href="{% url 'HodAttendance' %}"><li class="border-2 w-[7rem] text-center hover:bg-gray-300 transition ease-in duration-200  ">Attendance</li></a> {% endcomment %}
            <a href="{% url 'HodStudents' %}"><li class="border-2 w-[7rem] text-center hover:bg-gray-300 transition ease-in duration-200 ">Students</li></a>
            <a href="{% url 'HodViewFaculties' %}"><li class="border-2 w-[7rem] text-center hover:bg-gray-300 transition ease-in duration-200 ">View Faculty</li></a>
            <a href="{% url 'HodNotes' %}"><li class="border-2 w-[7rem] text-center bg-gray-300 ">Notes</li></a>
            {% comment %} <a href="{% url 'HodInternal' %}"><li class="border-2 w-[7rem] text-center hover:bg-gray-300 transition ease-in duration-200 ">Internal</li></a> {% endcomment %}
            <a href="{% url 'HodViewLeaveletters' %}"><li class="border-2 w-[7rem] text-center hover:bg-gray-300 transition ease-in duration-200 ">LeaveLetters</li></a>
            {% comment %} <a href="{% url 'HodAddAttendance' %}"><li class="border-2 w-[7rem] text-center hover:bg-gray-300 transition ease-in duration-200 ">Faculty Attendance</li></a>
            <a href="{% url 'HodViewAttendance' %}"><li class="border-2 w-[7rem] text-center hover:bg-gray-300 transition ease-in duration-200 ">View Faculty Attendance</li></a> {% endcomment %}
            <a href="{% url 'HodLeave' %}"><li class="border-2 w-[7rem] text-center hover:bg-gray-300 transition ease-in duration-200 ">Request Leave</li></a>
        </ul>
        <div class="w-[85rem] h-[35rem] overflow-auto">
            <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-gray-50">
                    <tr>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Note Number</th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Module</th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Subject</th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Semester</th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Download PDF</th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    {% for note in notes %}
                    <tr class="text-black">
                        <td class="px-6 py-4 whitespace-nowrap">{{ note.id }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">{{ note.module }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">{{ note.subject }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">{{ note.Semester.semester }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <form action="{% url 'delete_note' note.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Remove</button>
                            </form>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <a href="{{ note.Faculty_Notes.url }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" download>Download</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
</body>
</html>