{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FacultyAttendance</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            color: black;
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }
        /* Import Constantia font */
        @font-face {
            font-family: 'Constantia';
            src: url('{% static ' F:\MajorProject\project\app\static\fonts\Constantia\Constantia.woff' %}') format('woff');
            /* Adjust the path and format as needed */
            font-weight: normal;
            font-style: normal;
        }

        .content {
            position: relative;
            z-index: 1;
            /* Ensure content is above the blurred background */
        }

        /* width */
        ::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #575757;
            width: 10px;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #3b3b3b;
            width: 10px;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

        /* Hide the default radio button */
        input[type="radio"] {
            display: none;
        }

        /* Style the label to look like a button */
        label {
            display: inline-block;
            padding: 5px 10px;
            font-weight: bold;
            cursor: pointer;
            border-radius: 100%;
            height: 20px;
            width: 20px;
        }

        /* Style the label when the associated radio button is checked */
        #present:checked+label {
            color: white;
            background-color: green;
        }

        #absent:checked+label {
            color: white;
            background-color: rgb(206, 24, 0);
        }
    </style>

    </style>
</head>

<body>
    <div class="navbar flex justify-between mx-5 mt-5">
        <div>
            <p class="text-black font-2xl font-bold ">CSMA</p>
        </div>
        <div>
            <ul class="flex gap-5 ">
                <a href="{% url 'logout' %}"><li class="hover:text-red-300 transition ease-in duration-200 ">logout</li></a>
                <a href="{% url 'FacultyDash' %}"><li class="hover:text-red-300 transition ease-in duration-200 ">HOME</li></a>
                {% comment %} <a href="{% url 'services' %}">
                    <li class="hover:text-red-300 transition ease-in duration-200 ">SERVICES</li>
                </a>
                <a href="{% url 'about' %}">
                    <li class="hover:text-red-300 transition ease-in duration-200 ">ABOUT</li>
                </a>
                <a href="{% url 'testimonials' %}">
                    <li class="hover:text-red-300 transition ease-in duration-200 ">TESTIMONIALS</li>
                </a>
                <a href="{% url 'contact' %}">
                    <li class="hover:text-red-300 transition ease-in duration-200 ">CONTACT</li>
                </a> {% endcomment %}
            </ul>
        </div>
    </div>

    <div class="profile flex space-x-5 items-center mx-5 mt-5">
        {% if faculty.Faculty_Profile %}
        <a href="{% url 'FacultyEditProfile' faculty_id=faculty.id %}"><img class="rounded-full w-[4rem] h-[4rem] border-red-500 border-2" src="{{ faculty.Faculty_Profile.url }}" alt="profile">  </a>
    {% else %}
        <!-- Provide a placeholder or default image if no profile picture is available -->
        <a href="{% url 'FacultyEditProfile' faculty_id=faculty.id %}"><img class="rounded-full w-[4rem] h-[4rem] border-red-500 border-2" src="{% static 'placeholder_image.jpg' %}" alt="profile"> </a> 
    {% endif %}
            
    <div >
        <p>Name : {{faculty.user.first_name}} {{faculty.user.last_name}}</p>
        <p>Designation : {{faculty.Faculty_Designation}}</p>
    </div>
    </div>

    <div class="flex">
        <div class="navs mx-5 mt-10 w-[10rem]">
            <ul class="flex flex-col space-y-5">
                <a href="{% url 'FacultyDash' %}">
                    <li class="border-2 w-[7rem] text-center hover:bg-gray-300 transition ease-in duration-200">
                        Dashboard</li>
                </a>
                <a href="{% url 'FacultyAttendance' %}">
                    <li class="border-2 w-[7rem] text-center bg-gray-300  ">Attendance</li>
                </a>
                <a href="{% url 'FacultyViewAttendance' %}"><li class="border-2 w-[7rem] text-center hover:bg-gray-300 transition ease-in duration-200 ">View Attendance</li></a>
                <a href="{% url 'FacultyStudents' %}">
                    <li class="border-2 w-[7rem] text-center hover:bg-gray-300 transition ease-in duration-200 ">
                        Students</li>
                </a>
                <a href="{% url 'FacultyAssignments' %}">
                    <li class="border-2 w-[7rem] text-center hover:bg-gray-300 transition ease-in duration-200 ">
                        Assignments</li>
                </a>
                <a href="{% url 'FacultyNotes' %}">
                    <li class="border-2 w-[7rem] text-center hover:bg-gray-300 transition ease-in duration-200 ">Notes
                    </li>
                </a>
                <a href="{% url 'FacultyInternal' %}">
                    <li class="border-2 w-[7rem] text-center hover:bg-gray-300 transition ease-in duration-200 ">
                        Internal</li>
                </a>
                <a href="{% url 'FacultyViewLeaveletters' %}"><li class="border-2 w-[7rem] text-center hover:bg-gray-300 transition ease-in duration-200 ">Student LeaveLetters</li></a>
                <a href="{% url 'FacultyLeave' %}">
                    <li class="border-2 w-[7rem] text-center hover:bg-gray-300 transition ease-in duration-200 ">Request
                        Leave</li>
                </a>
            </ul>
        </div>
        <div class="options space-y-5 ">
            <div class="space-x-5 flex ">
                <div class="std_class">
                    <form method="post" action="{% url 'facultyAttendance' %}">
                        {% csrf_token %}
                        <div class="std_class">
                            <select class="border-2 border-black rounded-xl text-center text-black" name="classDropdown" onchange="this.form.submit()">
                                <option value="1" {% if selected_class == '1' %}selected{% endif %}>First Year</option>
                                <option value="2" {% if selected_class == '2' %}selected{% endif %}>Second Year</option>
                                <option value="3" {% if selected_class == '3' %}selected{% endif %}>Third Year</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>

            <div class="w-[85rem] h-[35rem] overflow-auto">
                <table class="min-w-full divide-y divide-gray-200">
                    <thead>
                        <tr class="bg-gray-50">
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">First Name</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Admission No</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Phone Number</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"> Forenoon &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp afternoon</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200 text-black">
                        <!-- loop this -->
                        {% for i in students %}
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap">{{ i.user.first_name }}</td>
                            <td class="px-6 py-4 whitespace-nowrap">{{ i.AdmissionNo }}</td>
                            <td class="px-6 py-4 whitespace-nowrap">{{ i.Student_PhoneNum }}</td>
                            <td class="px-6 py-4 whitespace-nowrap flex gap-2">
                                <form class="flex space-x-2" method="post" action="{% url 'MarkAttendance' i.id %}">
                                    {% csrf_token %}
                                    {% if i.attendance_status == "present" %}
                                        <button type="submit" name="status" value="present" class="rounded-lg text-center bg-green-500 hover:bg-green-300 py-2 px-4">Present</button>
                                        <button type="submit" name="status" value="absent" class="rounded-lg text-center bg-blue-500 hover:bg-blue-300 py-2 px-4">Absent</button>
                                    {% elif i.attendance_status == "absent" %}
                                        <button type="submit" name="status" value="present" class="rounded-lg text-center bg-blue-500 hover:bg-blue-300 py-2 px-4">Present</button>
                                        <button type="submit" name="status" value="absent" class="rounded-lg text-center bg-red-500 hover:bg-red-300 py-2 px-4">Absent</button>
                                    {% else %}
                                        <button type="submit" name="status" value="present" class="rounded-lg text-center bg-blue-500 hover:bg-blue-300 py-2 px-4">Present</button>
                                        <button type="submit" name="status" value="absent" class="rounded-lg text-center bg-blue-500 hover:bg-blue-300 py-2 px-4">Absent</button>
                                    {% endif %}
                                </form>
                                <div class="border-[2px] border-red-500 "></div>
                                <form class="flex space-x-2 " method="post" action="{% url 'MarkAttendanceAfternoon' i.id %}">
                                    {% csrf_token %}
                                    {% if i.attendance_statusAfternoon == "present" %}
                                        <button type="submit" name="status" value="present" class="rounded-lg text-center bg-green-500 hover:bg-green-300 py-2 px-4">Present</button>
                                        <button type="submit" name="status" value="absent" class="rounded-lg text-center bg-blue-500 hover:bg-blue-300 py-2 px-4">Absent</button>
                                    {% elif i.attendance_statusAfternoon == "absent" %}
                                        <button type="submit" name="status" value="present" class="rounded-lg text-center bg-blue-500 hover:bg-blue-300 py-2 px-4">Present</button>
                                        <button type="submit" name="status" value="absent" class="rounded-lg text-center bg-red-500 hover:bg-red-300 py-2 px-4">Absent</button>
                                    {% else %}
                                        <button type="submit" name="status" value="present" class="rounded-lg text-center bg-blue-500 hover:bg-blue-300 py-2 px-4">Present</button>
                                        <button type="submit" name="status" value="absent" class="rounded-lg text-center bg-blue-500 hover:bg-blue-300 py-2 px-4">Absent</button>
                                    {% endif %}
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>



        <div>


</body>


</html>